.App {
  text-align: center;
}
.ListView{
  list-style:lower-latin;
  padding-left: 10vh;
}
ul{
  list-style-type:square;
}
.search{
  min-width: 30vh;
  max-width: 30vh;
  height: 4vh;

}
nav{
  padding-left: 10vh;
  background-color: orange;
  font-size: larger;
  padding-bottom: 7vh;
}
.GalleryView{
  display: flex;
  flex-direction: column;
}
.GalleryItems{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 1rem; /* space between items */
  padding: 1rem;
  grid-area: 10px;
}
.latlon{
  max-width: 10vh;
}
ol{
  font-size: x-large;
}
.DetailView{
  display:list-item;
  padding-left:10vh;
}
.Previous{
  color: orange;
  font-size: xx-large;
}
.Next{
  color: blue;
  font-size: xx-large;
}
.gallery-item {
  position: relative;
  width: 250px;  
  height: 200px;
  border-radius: 8px;

}

.gallery-item .bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;        
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.gallery-item a {
  position: relative;
  z-index: 1;          
  text-decoration: none;
}
